body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #f7f7f7;
}

#mainForm,
.newForm {
    background-color: #fff;
    margin: 2rem;
    padding: 2rem;
}

.repeater,
.box,
.newSpan {
    border-radius: 8px;
    padding: 1.5rem;
}

.add,
.remove,
.addOption,
.removeOption,
.elementName {

    height: 1.75rem;
    width: 1.75rem;
}

.elementName,
.elementType,
.elementRequired {
    width: fit-content;
}

#mainForm,
.newForm {
    border: 1px solid black;
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.repeater,
.newSpan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    margin: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

#generateForm {
    margin: 1rem;
    padding: 1rem;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.onSelect {
    display: none;
}

.list {
    margin: 0.5rem;
}

.newForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
}

.newSpan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
}

.add,
.addOption {
    background-color: green;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.25rem;
}

.repeater,
.box,
.newSpan {
    text-align: left;
    font-family: 'Arial', sans-serif;
}


.remove,
.removeOption {
    background-color: hwb(0 22% 14%);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.25rem;
}

#generateForm {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5%;
    font-size: 1.25rem;
}

#generateForm:hover,
.add:hover,
.addOption:hover {
    background-color: rgb(2, 93, 2);
    cursor: pointer;
}

.remove:hover,
.removeOption:hover {
    background-color: hwb(0 15% 44%);
    cursor: pointer;
}